<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <p>
                Seth Goldfarb is a Content Marketing professional who helps emerging tech companies tell the stories of their success.
            </p>
            <p>
                Based in Seattle, Washington Seth provides content marketing services to blockchain startups, with experience encompassing 
                the production of written, audio (podcast), and video content as well as events and event-related content.
            </p>
        </div>
        <div class="col-sm-6 col-md-6">
                <img src="./web-dist/images/Seth.jpg" class="container-top-image m-x-auto">
        </div>
    </div>
</section>
