<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1><center>About</h1></center>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Seth Goldfarb is a Content Marketing professional who helps emerging tech companies tell the stories of their success. 
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Seth has spent the past two years providing freelance marketing and content management services to blockchain startups, 
                with experiences encompassing the production of written, audio (podcast), and video content as well as events and 
                event-related content. 
            </p>
        </div>
    </div>
</section>
