<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Seth Goldfarb is a Content Marketing professional who's passionate about helping emerging tech companies tell the 
                stories of their success. His experience encompasses the production of written, audio (podcast), and video content as 
                well as events and event-related content. He has provided freelance marketing and content production services to 
                blockchain startups since June, 2017.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                An active community organizer, Seth hosts several monthly blockchain meetups in the Seattle area and maintains a calendar
                of all blockchain meetups in the greater Seattle area at [www.pnwblockchain.com](https://www.pnwblockchain.com/).
            </p>
        </div>
    </div>
</section>
