<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
        
         <div class="col-sm-12 col-md-12">
         <h3><center>Content Marketing</h3></center>
             <div class="col-sm-6 col-md-3">
                 <i class="fa fa-edit" class="m-x-auto"></i>
                 <p><class="m-x-auto">
                     Writing
                 </p>
             </div>
              <div class="col-sm-6 col-md-3">
                  <span style="font-size: 3rem;">
                 <i class="fa fa-video class="m-x-auto"></i>
                  <p>
             </div>
             
              <div class="col-sm-6 col-md-3">
                 <i class="fa fa-headphones-alt m-x-auto" aria-hidden="true"></i>
             </div>
             
              <div class="col-sm-6 col-md-3">
                  <i class="fa fa-calendar-alt m-x-auto" aria-hidden="true"></i>
             </div>
             
            <ul>
                <li>Articles - <a href="https://www.coinreview.com/washington-senate-introduces-blockchain-bill/">WA Blockchain Bill</a></li>
                <li>White Papers</li>
                <li>Web Copy</li>
            </ul>
            </div>
        
            <div class="col-sm-12 col-md-6">
                
            </div>
                
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h3><center>PNW Blockchain Meetups</h3></center>
            <p>
                As an active organizer, Seth hosts several monthly blockchain meetups in the Seattle area 
                and maintains a calendar of local blockchain events at <a href="www.pnwblockchain.com">https://www.pnwblockchain.com/</a>.
            </p>
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
            <script src="https://snapwidget.com/js/snapwidget.js"></script>
            <!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/683171" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" 
style="border:none; overflow:hidden; width:100%; "></iframe>
            </div>
    </div>
</section>
