<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <center><h1>Portfolio</h1></center>
        </div>
        <div class="col-sm-12 col-md-6">
            <h2>Writing</h2>
            <ul>
                Articles - [WA Blockchain Bill](https://www.coinreview.com/washington-senate-introduces-blockchain-bill/)
                White Papers
                Web Copy
            </ul>
        </div>
        <div class="col-sm-12 col-md-6">
            <h2>PNW Blockchain Meetups</h2>
            <p>
                As an active organizer, Seth hosts several monthly blockchain meetups in the Seattle area 
                and maintains a calendar of local blockchain events at <a href="www.pnwblockchain.com">https://www.pnwblockchain.com/</a>.
            </p>
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
            <script src="https://snapwidget.com/js/snapwidget.js"></script>
            <!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/683171" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" 
style="border:none; overflow:hidden; width:100%; "></iframe>
        </div>
        <div class="col-sm-12 col-md-12">
            <h2>Test Section</h2>
    </div>
</section>
