<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
       </div>        
         <div class="col-sm-12 col-md-12">
         <h3><center>Content Marketing</h3></center>
        </div>         
             <div class="col-sm-12 col-md-6">
                 <p><class="m-x-auto">
                     <h4><center>Writing</h4></center>
                     <center><i class="fa fa-edit fa-5x" class="m-x-auto"></i></center>
                 </p>
                     <ul>
                <li><a href="https://www.coinreview.com/washington-senate-introduces-blockchain-bill/">Senate Bill 5638: 
                    What Does the New “Blockchain Bill” Mean for Washington State?</a></li>
                <li><a href="https://medium.com/@goldfarbas">Medium</a></li>
                         <li>Social Media - <a href="https://twitter.com/GoldenChaosGod">@GoldenChaosGod</a>
                         <a href="https://twitter.com/pnwblockchain">@PNWBlockchain</a> 
                         <a href="https://https://twitter.com/DATTPod">@DATTPod</a></li>
                    </ul>
             </div>
             <div class="col-sm-12 col-md-6">
                 <p><class="m-x-auto">
                     <h4><center>Video</h4></center>
                     <i class="fas fa-video fa-5x" class="m-x-auto"></i>
                 </p>
            </div>
    </div>
    
    <div class="row">
            <div class="col-sm-12 col-md-6">
                 <p><class="m-x-auto">
                     <h4><center>Podcasting</h4></center>
                     <i class="fas fa-headphones-alt" class="m-x-auto" aria-hidden="true"></i>
                 </p>
            </div>
        
            <div class="col-sm-12 col-md-6">
            <h4><center>Events</h4></center>
                <i class="far fa-calendar-alt" class="m-x-auto" aria-hidden="true"></i>
            <p>
                As an active organizer, Seth hosts several monthly blockchain meetups in the Seattle area 
                and maintains a calendar of local blockchain events at <a href="www.pnwblockchain.com">https://www.pnwblockchain.com/</a>.
            </p>
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
            <script src="https://snapwidget.com/js/snapwidget.js"></script>
            <!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/683171" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" 
style="border:none; overflow:hidden; width:100%; "></iframe>
            </div>
     </div>
</section>
