<ul>
  <li>[Ryan and Nate Sagul of Lavaliere Capital Management](https://www.youtube.com/watch?v=C36sETCcrvY&t=3s)</li>
  <li>[Yossi Goldlust of Crypto Seattle *The Gold Episode*](https://www.youtube.com/watch?v=TMlqffaZ3IU)</li>
  <li>[Sean Johnston of Consensus Solutions](https://www.youtube.com/watch?v=3C9CbToxguI&t=1s)</li>
  <li>[Joshua Du Chene of Blockchain Audio Solutions and Giveth.io](https://www.youtube.com/watch?v=6rwUdI1kUzI&t=3s)</li>
  <li>[Ken Hodler, early contributor to Keepkey](https://www.youtube.com/watch?v=FQltUC6vFGA)</li>
  <li>[Ray Metz of Seattle Blockchain Training](https://www.youtube.com/watch?v=cKY53kn2x4A)</li>
  <li>[Blockchain Evangelist Alex Ortiz](https://www.youtube.com/watch?v=nhvmZWAjZwI)</li>
  <li>[Matt Ketchum of Kaala Music](https://www.youtube.com/watch?v=DwHBGuQeF9I)</li>
</ul>
